<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="footer-logo">
          {% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
              class="img-responsive" /></a>{% else %}
          <h1>
            <a href="{{ home }}">{{ name }}</a>
          </h1>
          {% endif %}
        </div>

        <div class="footer-desc">{{ description }}</div>
      </div>

      <div class="col-md-2 col-sm-3">
        <div class="footer-menu">
          {{menu_footer}}
        </div>
      </div>

      {% if informations %}
      <div class="col-md-3 col-sm-3">
        <nav class="footer-menu footer-information">
          <h5>{{ text_information }}</h5>
          <ul class="list-unstyled">
            {% for information in informations %}
            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-contacts">
          <h5>
            {{text_contacts}}
          </h5>
          <ul>
            <li>
              <span class="icon-box">
                <i class="fa fa-location-arrow"></i>
              </span>
              <span> {{ address }}</span>
            </li>
            <li>
              <a href="mailto:{{ email }}">
                <span class="icon-box"><i class="fa fa-envelope"></i></span>
                <span>{{ email }}</span></a>
            </li>
            <li>
              <a href="{{ contact }}">
                <span class="icon-box"><i class="fa fa-phone"></i></span>
                <span>{{ telephone }}</span>
              </a>
            </li>
          </ul>
        </div>
        <ul class="footer-social"></ul>
      </div>
      {% endif %}

    </div>
  </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>

</html>